{% extends 'main/base.html' %}
{% load static %}

{% block title %}Смена пароля{% endblock title %}
{% block header %}
  <h2>Сменить пароль для {{ user_to_change.username }}</h2>
{% endblock header %}

{% block content %}
<div class="change-password-wrapper">
<div class="form-container column-like mt-4">
  <form action="{% url "user:change_password" %}" method="post">
    {% csrf_token %}

    <!-- Новый пароль -->
    <div class="mb-3">
      <label for="id_new_password1">Новый пароль: </label>
      <input
        type="password"
        id="id_new_password1"
        name="new_password1"
        placeholder="Новый пароль"
        required
      >
      {% if form.new_password1.errors %}
        {% for err in form.new_password1.errors %}
          <div class="text-danger">{{ err }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Подтверждение пароля -->
    <div class="mb-3">
      <label for="id_new_password2">Повторите пароль: </label>
      <input
        type="password"
        id="id_new_password2"
        name="new_password2"
        placeholder="Повторите пароль"
        required
      >
      {% if form.new_password2.errors %}
        {% for err in form.new_password2.errors %}
          <div class="text-danger">{{ err }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Скрытое поле с ID пользователя -->
    <input
      type="hidden"
      name="user_to_change"
      value="{{ user_to_change.id }}"
    >
    <button type="submit">Изменить пароль</button>
  </form>
</div>
</div>
{% endblock %}

