{% extends 'main/base.html' %}
{% load static %}

{% block css_connection %}
    <link rel="stylesheet" href="{% static 'css\users.css' %}">
{% endblock css_connection %}
{% block title %}Регистрация{% endblock title %}
{% block header %}
    <h2>Регистрация</h2>
{% endblock header %}
{% block content %}
    <section class="login-req mt-4 large-padding center-div">
        <div class="login-title registration-container main-container">
            <form action="{% url "user:registration" %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id_first_name" class="form-label form-stylereg">Имя</label>
                        <input type="text" class="form-control form-stylereg" id="id_first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" name="first_name" placeholder="Ваше имя" required>
                        {% if form.first_name.errors %}
                            <div class="error">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_last_name" class="form-label form-stylereg">Фамилия</label>
                        <input type="text" class="form-control form-stylereg" id="id_last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" name="last_name" placeholder="Ваша фамилия" required>
                        {% if form.last_name.errors %}
                            <div class="error">{{ form.last_name.errors }}</div>
                        {% endif %}</div>
                    <div class="col-md-6 mb-3">
                        <label for="id_username" class="form-label form-stylereg">Никнейм</label>
                        <input type="text" class="form-control form-stylereg" id="id_username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" placeholder="Ваш никнейм" required>
                        {% if form.username.errors %}
                            <div class="error">{{ form.username.errors }}</div>
                        {% endif %}</div>
                    <div class="col-md-6 mb-3">
                        <label for="id_email" class="form-label form-stylereg">Почта</label>
                        <input type="email" class="form-control form-stylereg" id="id_email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" name="email" placeholder="Ваша почта" required>
                        {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                        {% endif %}</div>
                    <div class="col-md-6 mb-3">
                        <label for="id_password1" class="form-label form-stylereg">Пароль</label>
                        <input type="password" class="form-control form-stylereg" id="id_password1" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" name="password1" placeholder="Ваш пароль" required>
                        {% if form.password1.errors %}
                            <div class="error">{{ form.password1.errors }}</div>
                        {% endif %} </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_password2" class="form-label form-stylereg">Повторите пароль</label>
                        <input type="password" class="form-control form-stylereg" id="id_password2" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}" name="password2" placeholder="пароль" required>
                        {% if form.password2.errors %}
                            <div class="error">{{ form.password2.errors }}</div>
                        {% endif %}</div>
                </div>
                <button type="submit" class="login-btn form-style fixed-button">Зарегистрироваться</button>
                <div class="reset-pass">
                    <hr>
                    <div class="mt-3">
                        <a href="{% url "user:login" %}">Есть аккаунт?</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}

