{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  {{exercise.name}} 
{% endblock title %} 
{% block header %}
<h2>
  {{exercise.name}} 
</h2>
{% endblock header %}
{% block content %}
<div class="detail-exercise">
  <div class="detail-img">
    <img
      src="{% if exercise.image %}{{exercise.image.url}} {% else %} {% static 'img\noimage.png' %} {% endif %}"
      alt=""
      class="detail-image"
    />
  </div>

  <div class="detail-description">
    <div class="detail-title">
      <h2>
      {{exercise.name}}
      <a 
        href="#"
        class="favorite-heart"
        data-url="{% url "likes:toggle_favorite" exercise.slug %}"
      > 
        <i 
        {% if exercise|is_liked:user%}
        class="fas fa-heart heart red-heart"
        {% else %}
        class="fas fa-heart empty-heart heart"
        {% endif %}
        ></i>
      </a> 
      </h2>
    </div>
    <div>
    <h4 class="exercise-type">{{exercise.type}}</h4>
    </div>
    <div class="description-container mt-3">
      <span class="description-text">{{ exercise.description }}</span>
    </div>

    {% comment %} youtube {% endcomment %}
    <div class="mt-2">
    {% if exercise.video_link %}
      <iframe
      class="d-flex youtube-video"
        src="{{exercise.video_link}}"
        title="YouTube video player"
        frameborder="3"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    {% else %}
    <div class="missed-video">Видео пока отсутствует,<br>но мы работаем над этим</div>
    {% endif %}
    </div>
    <div class="muscle-container">
        {% for muscle in exercise.muscles.all %}
          <div class="single-muscle" data-url="{{ muscle.get_absolute_url }}">
            {{ muscle.name }}
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
